@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

:root {
    --maincolor: #1F4B43;
    --secondcolor: #E7C873;
    --linecolor: #1A1A1A;
}

body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: var(--linecolor);
}


/*start hidden*/
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
/*end hidden*/



/*start loder*/


body {
    margin: 0;
    padding: 0;
  }

  .content {
    display: none;
    text-align: center;
  }

  /* اللودر */
  
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    display: block;
    transform: translate(-50%, -50%) perspective(200px) rotateX(66deg);
    animation: spinner-wiggle 1.2s infinite;
}


  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 4px solid transparent;
    animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
      spinner-fade 1.2s linear infinite;
  }

  .loader:before {
    border-top-color: var(--maincolor);
  }

  .loader:after {
    border-top-color: var(--maincolor);
    animation-delay: 0.4s;
  }

  @keyframes spinner-spin {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spinner-fade {
    25%,
    75% {
      opacity: 0.1;
    }

    50% {
      opacity: 1;
    }
  }


/*end loder*/


/*start header*/

.header {
    background-image: url('../images/backdround.png');
    height: 100vh;
    width: 100%;
}

/*end header*/



/*start nav bar*/

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar {
    font-size: small;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;*/
    width: 100%;
    height: 15%;
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-toggle {
    color: white !important;
    transition: font-size 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.navbar .nav-link:hover,
.navbar .dropdown-toggle:hover {
    font-size: large;
    transform: translateY(5px);
}

.end {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: small;
}

.phone,
.person,
.property {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: font-size 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.phone:hover,
.person:hover,
.property:hover {
    font-size: 15px;
    transform: translateY(5px);
    cursor: pointer;
}

.Property {
    border: 1px solid white;
    border-radius: 30px;
    padding: 2px 15px;
    font-weight: normal;
    white-space: nowrap;
}

.navbar-toggler {
    border: none;
}


@media (max-width: 992px) {
    .end {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-top: 10px;
    }

    .navbar-brand img {
        width: 130px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .navbar-brand img {
        width: 100px;
    }
}


.back {
    /* background-color: var(--maincolor) !important;*/
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
    z-index: 1000;
}

/*end navbar*/



/*start why*/


.title {
    text-align: center;
}

.title p {
    font-size: small;
}

.why1,
.why2,
.why3 {
    text-align: center;
}

.why1 p,
.why2 p,
.why3 p {
    font-size: small;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

@media (max-width: 600px) {
    body {
        width: 100%;
        font-size: small;
    }

    .why1 p,
    .why2 p,
    .why3 p {
        max-width: 100%;
    }

    .navbar {
        position: absolute;
    }
}


/*end why*/

/*start Featured*/


.custom-tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
}

.custom-tabs .nav-link {
    border-radius: 25px;
    border: 1px solid rgba(1, 1, 1, 0.5);
    padding: 5px 20px;
    color: var(--linecolor);
    transition: font-size 0.3s ease-in-out;
}

.custom-tabs .nav-link:hover {
    font-size: large;
}


.custom-tabs .nav-link.active {
    background-color: var(--secondcolor);
    color: var(--linecolor);
}


.Featured .pics .img {
    border-radius: 10px;
    width: 95%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.Featured .pics .img:hover {
    transform: translateY(10px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.Featured .pics .col-md-4 {
    position: relative;
}



.Featured .pics .sale,
.rent {
    background-color: var(--maincolor);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    top: 40px;
    left: 30px;
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s;
}

.pics .col-md-4:hover .sale,
.pics .col-md-4:hover .rent,
.pics .col-md-4:hover .featured,
.pics .col-md-4:hover .deateals {
    transform: translateY(10px);
    visibility: visible;
}


.Featured .pics .featured {
    background-color: var(--secondcolor);
    color: var(--linecolor);
    padding: 5px 10px;

    border-radius: 20px;
    position: absolute;
    top: 40px;
    left: 125px;
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s;
}



.deateals {
    width: 85%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    left: 31px;
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s;
}

.pics .d-last {
    width: 100%;
}

.pics .d-last .end {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: small;
    justify-content: flex-end;
}

.deateals .d-last .prise {
    font-size: large;
    color: #EB664E;
}


.deateals .d-last .prise span {
    font-size: small;
}


.fea-btn {
    width: fit-content;
    text-align: center;
    background-color: var(--secondcolor);
    color: var(--linecolor);
    border-radius: 30px;
    border: none;
    display: block;
    margin: auto;
}


@media (max-width: 1200px) {
    .deateals{
        display: none;
    }
    .rent{
        display: none;
    }
    .sale{
        display: none;
    }
    .featured{
        display: none;
    }
}


/***********************************************************************************************/


/*end Featured*/




/*start cities*/

.cities {
    background-color: #F7F7F7;
    margin-top: 100px;
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--linecolor);
    transition: all 0.3s ease;
    border: 2px solid var(--linecolor);
    margin: 5px;
}

.carousel-indicators [data-bs-target]:active,
.carousel-indicators [data-bs-target]:focus {
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--linecolor);
    border: 2px solid var(--linecolor);
    transform: scale(1.3);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.city {
    margin-top: 10px;
    margin-bottom: 10px;
}

.c-images {
    margin-bottom: 70px;
}

.c-images .city {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.c-images .city img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 13px;
}

.c-images .city:hover {
    transform: translateY(15px);
}

.c-images .city::after {
    content: "";
    position: absolute;
    top: 0;
    left: 11px;
    width: 90%;
    height: 100%;
    border-radius: 13px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.c-images .city:hover::after {
    opacity: 1;
}

.nomp {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}

.c-images .city:hover .nomp {
    opacity: 1;
    transform: translateY(15px);
    font-size: 1.1em;
}

.c-images .city:hover .nomp h6 {
    font-size: 0.9em;
}

.nomp h6 {
    margin-bottom: 2px;
    color: white;
    font-size: small;
    font-weight: 400;
}

.nomp span {
    font-size: smaller;
    display: block;
    margin-top: 2px;
    color: white;
    font-weight: 100;
}

/*end cities*/







/*start how*/

.prgrf {
    font-size: small;
}

.notPic {
    border-left: 1px solid lightgray;
}



/*end how*/




/*start customers*/

.customers {
    background-color: #FDEEEC;
    margin-top: 50px;
}


.ratings span {
    font-size: small;
}

.openion span {
    font-size: small;
    margin-top: -7px;
    display: block;
}

.right {
    margin-left: 150px;
}

@media (max-width: 990px) {

    .right {
        margin-left: 0px;
    }

    .right .ratings {
        justify-content: center;
    }

    .right .title {
        text-align: center !important;
    }
}

.Cameron {
    width: 100px;
    border-radius: 50%;
}

/*end customers*/



/*start team*/

.team .partner {
    margin-bottom: 20px;
}

.team .partner img {
    border-radius: 15px;
}

.partner .p-desc {
    font-size: small;
    margin-top: -5px;
}

@media (max-width: 530px) {
    .pnd h5 {
        font-size: 12px;
    }

    .pnd .p-desc {
        font-size: 10px;
    }
}


/*end team*/




/* start thousand*/


.thousand img {
    height: 25px;
    cursor: pointer;
}


@media (max-width: 770px) {
    .thousand {
        display: none;
    }
}


/* end thousand*/




/*start two*/

.ttwwoo {
    gap: 50px;
}

.two .two-left {
    background-color: #F9F9F9;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.two .two-left h5 {
    width: 70%;
}

.two .two-right h5 {
    width: 70%;
}

.two .two-right {
    background-color: #FFF8F6;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.rr img {
    margin-top: 90px;
}

.ll button {
    margin-top: 10px;
    border: none;
    background-color: var(--maincolor);
    color: white;
    border-radius: 10px;
    padding: 12px;
}


.ll i {
    margin-top: 5px;
    padding-left: 10px;
}


@media (max-width: 1210px) and (min-width: 992px) {
    .tttwwwooo {
        display: block !important;
    }

    .two-left,
    .two-right {
        display: flex !important;
        flex-direction: column !important;
        /* جعل الصورة فوق الكتابة */
        margin-bottom: 20px;
    }

    .two-left .rr,
    .two-right .rr {
        order: -1;
        /* يجعل الصورة تظهر أولاً */
    }

    .rr img {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}


/*end two*/



/*start footer*/

footer{
    background-color: var(--maincolor);
    color: white;
   /* position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;*/
}

footer a{
    text-decoration: none;
    color: inherit;
}

.big-footer{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}



footer .big-footer .top-footer{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
}

.big-footer .follow span{
    display: block; letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}

.big-footer .follow .i{
    gap: 20px;
    margin-top: 10px;
    text-align: center;
}

footer .bottom-footer .one span{
    color: rgba(255, 255, 255, 0.5);
}

footer .bottom-footer .one form{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: var(--maincolor);
    width: fit-content;
}

footer .bottom-footer .one form input,button{
    background-color: var(--maincolor);
    color: white;
    border: none;
}

footer .bottom-footer .one form button{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

footer .bottom-footer .one p{
    font-size: small;
    font-weight: 150;
}

footer .bottom-footer{
    gap: 100px;
}


footer .bottom-footer span{
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;
    align-items: flex-start;
    text-align: left;
}
footer .bottom-footer a{
    font-weight: 200;
    align-items: flex-start;
    text-align: left;
}





/*end footer*/